/* Updated styles for NavBar component */

.navbarContainer {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 45px;
  padding: 5px 25px 5px 15px;
  background-color: #051824;
  position: sticky;
  top: 0;
  z-index: 1000000;

  .navbarleft {
    flex: 1;
    height: 60px;
    .welcomeImage {
      width: 65%;
      height: 100%;
      object-fit: contain;
    }
  }

  .navbarright {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .eachrightelement {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      transition: 0.5s;
      position: relative;

      h1 {
        font-size: 16px;
      }

      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 8px;
        background-color: #00abfa;
        border-radius: 20px;
        bottom: -13px;
        left: 0%;
        transform: translateX(-50%);
        transition: width 0.3s ease, left 0.3s ease;
      }

      &:hover {
        &:after {
          width: 90%;
          left: 50%;
        }
      }

      &.active {
        &:after {
          width: 90%;
          left: 50%;
        }
        margin-bottom: 40px;
      }
    }
  }
  .sideBar {
    flex: 0.2;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}
