.projectContainer {
  height: calc(100vh - 80px);
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  .leftArrow {
    position: absolute;
    left: 30px;
    top: 50%;
    cursor: pointer;
  }
  .rightArrow {
    position: absolute;
    right: 30px;
    top: 50%;
    cursor: pointer;
  }
  .projectWrapper {
    width: 80%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .projectTitle {
      font-size: 62px;
      text-align: center;
      justify-content: flex-start;
      color: rgba(0, 171, 250, 0.217);
      font-weight: 700;
    }
    .wholeContainer {
      width: 100%;
      height: 80%;
      margin: auto;
      display: flex;
      align-items: flex-end;
      position: relative;
      background: rgba(0, 171, 250, 0.217);
      background: linear-gradient(
        135deg,
        rgba(0, 171, 250, 0.1),
        rgba(0, 171, 250, 0)
      );
      backdrop-filter: blur(50px);
      -webkit-backdrop-filter: blur(50px);
      box-shadow: 0 1px 1px 0 rgba(0, 171, 250, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.18);
      border-radius: 15px;
      .imageContainer {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
      }
      .projectContent {
        position: absolute;
        left: 30%;
        top: 5%;
        width: 65%;
        height: 90%;
        background: linear-gradient(
          115deg,
          rgba(2, 26, 37, 1),
          rgba(2, 28, 39, 0.2)
        );
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.13),
          0 1px 2px 0 rgba(0, 0, 0, 0.11);
        border-radius: 10px;
        color: #00abfa;
        text-align: center;
        font-size: 32px;
        display: flex;
        flex-direction: column;
        padding: 15px 30px;
        gap: 30px;
        h1 {
          font-size: 32px;
          color: #fff;
          flex: 1;
          text-align: center;
        }
        p {
          font-size: 24px;
          color: #fff;
          text-align: left;
          flex: 3;
        }
        .buttonContainer {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          .buttonWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            width: 70%;
            .detailButton {
              flex: 1;
              font-size: 18px;
              color: #00abfa;
              background: #081b29;
              cursor: pointer;
              border-radius: 15px;
              padding: 10px 15px;
              border: 2px solid #00abfa;
            }
            .private {
              flex: 1;
              font-size: 18px;
              color: red;
              background: #081b29;
              cursor: not-allowed;
              border-radius: 15px;
              padding: 10px 15px;
              border: 2px solid red;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .githubButton {
              flex: 0.3;
              display: flex;
              align-items: center;
              justify-content: space-between;
              background: transparent;
              border: 2px solid #6c22a6;
              cursor: pointer;
              border-radius: 15px;
              padding: 0px 15px;
              p {
                font-size: 18px;
                border-radius: 5px;
                padding: 5px 15px;
                color: #6c22a6;
              }
            }
          }
        }
      }
    }
  }
  .overlayComponent {
    position: absolute;
    width: 80%;
    height: 90%;
    top: 5%;
    margin: auto;
    background: radial-gradient(
      circle,
      rgba(37, 94, 115, 0.8),
      rgba(1, 14, 20, 0.9)
    );

    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.13), 0 1px 2px 0 rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    padding: 20px 40px 40px;
    .topContent {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
      .closeButton {
        cursor: pointer;
      }
    }
    .imageContainer {
      width: 95%;
      height: 90%;
      margin: auto;
    }
  }
}
