.footerContainer {
  display: flex;
  padding: 106px 35.333px 0px;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  align-self: stretch;
  .footerTop {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    .eachItem ul {
      list-style: none;
      display: flex;
      align-items: flex-start;
      gap: 42.667px;
      text-decoration: none;
      margin-top: 30px;
      @media (max-width: 600px) {
        gap: 20px;
      }
      li {
        cursor: pointer;
      }
    }
  }
  .divider {
    height: 3px;
    width: 100%;
    background-color: white;
    border: none;
  }
  .footerContentContainer {
    width: 100%;
    height: 60px;
    background: #051824;
    display: flex;
    align-items: center;
    @media (max-width: 760px) {
      flex-direction: column;
      gap: 10px;
    }
    .gretting {
      flex: 1;
    }
    .dateTime {
      flex: 1;
      text-align: center;
    }
    .socialIcons {
      flex: 1;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      .github {
        cursor: pointer;
        a {
          text-decoration: none;
        }
      }

      .linkedin {
        cursor: pointer;
        a {
          text-decoration: none;
          color: #2867b2;
        }
      }

      .stackOverFlow {
        cursor: pointer;
        a {
          text-decoration: none;
          color: #f48024;
        }
      }
      .telegram {
        cursor: pointer;
        a {
          text-decoration: none;
          color: #0088cc;
        }
      }
    }
  }
}
