html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 100vw;
  background-color: #081b29;
  color: #fff;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
