.homepagecontainer {
  width: 100%;
  .homePageWrapper {
    position: relative;
    height: calc(100vh - 80px);
    z-index: 100;
    overflow: hidden;

    .stars {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #00abfa;
      position: absolute;
      z-index: 1000;
    }

    .contentContainer {
      width: 100%;
      height: 100%;
      margin: auto;
      display: flex;
      gap: 50px;
      @media (max-width: 1200px) {
        .homeRightTopLeft {
          font-size: 28px !important;
        }
        .homeRightTopRight {
          font-size: 28px !important;
        }
        .homeRightMiddleText {
          font-size: 28px !important;
        }
        .homeRightFreelance {
          font-size: 28px !important;
        }
      }
      @media (max-width: 1000px) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
        .homeLeft {
          flex: 1;
          height: 100% !important;
          width: 100% !important;
          .imagePortfolio {
          }
        }
        .homeRight {
          flex: 1;
          width: 100%;
          justify-content: space-between;
          padding: 10px !important;
          .homeRightTop {
            .homeRightTopLeft {
              font-size: 28px !important;
            }
            .homeRightTopRight {
              font-size: 28px !important;
            }
          }
          .homeRightMiddle {
            flex-direction: column;
            align-items: flex-start !important;
            .homeRightFreelance {
              font-size: 28px !important;
            }
            .homeRightMiddleText {
              font-size: 28px !important;
            }
          }
          .homeRightBottom {
            flex-direction: column;
            gap: 10px !important;
          }
        }
      }

      .homeLeft {
        flex: 1;
        height: 100%;
        color: #00abfa;
        z-index: 10;
        .imagePortfolio {
          width: 95%;
          height: 100%;
          margin: 0px 0px 0px;
          background-image: url("../../utils/Svg/profileimage3.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          opacity: 0.5;
          z-index: 1;
        }
      }
      .homeRight {
        flex: 2;
        color: #00abfa;
        display: flex;
        flex-direction: column;
        gap: 15px;
        z-index: 10;
        padding: 100px 0px;
        .homeRightTop {
          display: flex;
          align-items: center;
          gap: 20px;

          .homeRightTopLeft {
            color: #fff;
            font-size: 54px;
            font-family: "Roboto", sans-serif;
          }
          .homeRightTopRight {
            color: #00abfa;
            font-size: 48px;
            font-family: "Roboto", sans-serif;
          }
        }
        .homeRightMiddle {
          display: flex;
          align-items: center;
          gap: 25px;
          .homeRightFreelance {
            color: #fff;
            font-weight: 400;
            font-family: "Roboto", sans-serif;
            font-size: 54px;
          }
          .homeRightMiddleText {
            color: #00abfa;
            font-weight: 400;
            font-family: "Roboto", sans-serif;
            font-size: 48px;
          }
        }

        .homeRightBottom {
          display: flex;
          justify-content: center;
          padding: 0 50px;
          align-items: center;
          margin-top: 40px;
          gap: 50px;
          .resumeDownload {
            display: flex;
            align-items: center;
            gap: 15px;
            border: 3px solid #00abfa;
            color: #00abfa;
            border-radius: 5px;
            padding: 5px 15px;
            width: fit-content;
            cursor: pointer;
            background: transparent;
            transition: color 0.5s;

            h1 {
              font-size: 18px;
            }

            &:hover {
              scale: 1.1;
            }
          }
          .socialIcons {
            display: flex;
            align-items: center;
            gap: 20px;

            .github {
              cursor: pointer;
              a {
                text-decoration: none;
              }
            }

            .linkedin {
              cursor: pointer;
              a {
                text-decoration: none;
                color: #2867b2;
              }
            }

            .stackOverFlow {
              cursor: pointer;
              a {
                text-decoration: none;
                color: #f48024;
              }
            }
            .telegram {
              cursor: pointer;
              a {
                text-decoration: none;
                color: #0088cc;
              }
            }
          }
        }
      }
    }

    .content {
      top: 0;
      right: 0;
      width: 100%;
      position: absolute;
      height: calc(100vh - 80px);
      background-image: radial-gradient(
          circle farthest-corner at center,
          rgba(255, 255, 255, 0.4),
          rgba(255, 255, 255, 0) 90%
        ),
        url("../../utils/Svg/background.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      opacity: 0.1;
      padding: 50px;
      z-index: 1;
      svg {
        linearGradient {
          stop:nth-child(1) {
            stop-color: #fdcb52;
          }
          stop:nth-child(2) {
            stop-color: #ff5b77;
          }
        }
      }
    }
    .resumeContainer {
      z-index: 1000000000000000;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .resumeWrapper {
        width: fit-content;
        height: 80%;
        margin-top: 80px;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          width: 0px;
        }
        .resumeTop {
          height: 40px;
          width: 100%;
          position: sticky;
          top: 0;
          padding: 0px 25px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 20px;
          background: #051824;
          z-index: 100000000000000;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

@keyframes rotateHand {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.clappingHand {
  animation: rotateHand 2s infinite;
}
